@{
    ViewBag.Title = "Home Page";
}

<br />
<br />
<br />
<br />


<div class="row">
    <div class="col-md-4" style="text-align: center;">
        <h2>Bien</h2>
        <p>Equipos de computo, CPU, Monitor, Teclado y Mouse.</p>
        <p>
            <a target="_blank" class="btn btn-default" href="~/Movimiento/Anadir">
                <i class="fa fa-desktop fa-8x" aria-hidden="true"></i>
            </a>
        </p>
    </div>
    <div class="col-md-4" style="text-align: center;">
        <h2>Celular</h2>
        <p>Equipos celulares móviles.</p>
        <p>
            <a target="_blank" class="btn btn-default" href="~/MovimientoCelular/AnadirCelular">
                <i class="fa fa-mobile fa-8x" aria-hidden="true"></i>
            </a>
        </p>
    </div>
    <div class="col-md-4" style="text-align: center;">
        <h2>Buscar</h2>
        <p>Buscar a la planilla de Electro Puno S.A.A.</p>
        <p>
            <a target="_blank" class="btn btn-default" href="~/Movimiento/Vista">
                <i class="fa fa-search fa-8x" aria-hidden="true"></i>
            </a>
        </p>
    </div>
</div>


 