@{
    ViewBag.Title = "Home Page";
}

<br />
<br />
<br />
<br />



<div class="container" id="root">
    <input type="text" class="form-control"
           v-model="txtBusqueda"
           v-on:keyup="getBusqueda()"
           list="listaDescripcion" />

    <datalist id="listaDescripcion">
        <option v-for="item in listaResultados"> {{item.Marca}} {{item.Modelo}}</option>
    </datalist>
    @*{{listaResultados[0].Descripcion}}
    {{listaResultados[0].Marca}}
    {{listaResultados[0].Modelo}}
    {{listaResultados[0].Serie}}*@
<div v-if="listaResultados.length">
    <p>{{listaResultados[0].Descripcion}}</p>
    <p>{{listaResultados[0].Marca}}</p>
    <p>{{listaResultados[0].Modelo}}</p>
    <p>{{listaResultados[0].Serie}}</p>
    @*<li v-for="todo in todos">
            {{ todo }}
        </li>*@
</div>
    <p v-else>No quedan todos!</p>
    @*<input type="text" class="form-control" value="{{listaResultados}}" />
        <input type="text" class="form-control" value="{{listaResultados}}" />*@



</div>

@section scripts{
    
    @*<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>*@
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js" integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        var delayTimer;
        var app = new Vue({
            el: "#root",
            data: {
                txtBusqueda: "",
                listaResultados: []
            },
            methods: {
                getBusqueda() {

                    clearTimeout(delayTimer);

                    delayTimer = setTimeout(function () {
                        if (app.txtBusqueda !== "") {

                            let cadena = app.txtBusqueda.trim();
                            let cantidad = 10;

                            axios.get("https://localhost:44318/Home/BuscarPorNombre?serie=" + cadena + "&cantidad=" + cantidad)
                                .then(function (response) {

                                    console.log(response.data);
                                    app.listaResultados = response.data;

                                }).catch(function (error) {
                                    console.log(error);
                                })
                        }
                    }, 500);

                },
                mounted() {
                    window.addEventListener('keyup', function (event) {
                        if (event.keyCode === 13) {
                            app.callEvent();
                        }
                    });
                }

            }

        });
    </script>
}