@model Web4.Models.ViewModels.MovimientoViewModel

@{
    ViewBag.Title = "Movimiento Bienes";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<h2>@ViewBag.Title</h2>

<div>
     
    <p class="text-success">
        @ViewBag.Message

    </p>
     
</div>

@using (Html.BeginForm("Anadir", "Movimiento", FormMethod.Post))
{
    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <fieldset>
                    <legend>Identificación</legend>
                    <div class="editor-label"><label for="Nombre">Nombre</label></div>
                    <div class="editor-field"><input onkeyup="this.value = this.value.toUpperCase();" class="text-box single-line" id="Nombre" name="Nombre" type="text" value="" /><span class="field-validation-valid" data-valmsg-for="Nombre" data-valmsg-replace="true"></span></div>
                    <div class="editor-label"><label for="Cargo">Cargo</label></div>
                    <div class="editor-field"><input onkeyup="this.value = this.value.toUpperCase();" class="datetime" id="Cargo" name="Cargo" type="text" value="" /> <span class="field-validation-valid" data-valmsg-for="Cargo" data-valmsg-replace="true"></span></div>
                    <div class="editor-label"><label for="Fecha">Fecha</label></div>
                    <div class="editor-field"><input onkeyup="this.value = this.value.toUpperCase();" class="text-box single-line" data-val="true" data-val-date="El campo Fecha debe ser una fecha." data-val-required="El campo Fecha es obligatorio." id="Fecha" name="Fecha" type="datetime" value="@DateTime.Now" /> <span class="field-validation-valid" data-valmsg-for="Fecha" data-valmsg-replace="true"></span></div>
                    <div class="editor-label"><label for="Origen">Origen</label></div>
                    <div class="editor-field"><input onkeyup="this.value = this.value.toUpperCase();" class="text-box single-line" id="Origen" name="Origen" type="text" value="" /> <span class="field-validation-valid" data-valmsg-for="Origen" data-valmsg-replace="true"></span></div>
                    <div class="editor-label"><label for="Destino">Destino</label></div>
                    <div class="editor-field"><input onkeyup="this.value = this.value.toUpperCase();" class="text-box single-line" id="Destino" name="Destino" type="text" value="" /> <span class="field-validation-valid" data-valmsg-for="Destino" data-valmsg-replace="true"></span></div>
                    <div class="editor-label"><label for="TipoMovimiento">TipoMovimiento</label></div>
                    <div class="editor-field">
                        <select id="TipoMovimiento" name="TipoMovimiento">
                            <option value="ASIGNACION">ASIGNACIÓN</option>
                            <option value="DEVOLUCION">DEVOLUCIÓN</option>
                        </select>
                    </div>

                    <div class="editor-label"><label for="ResponsableDelMovimiento">ResponsableDelMovimiento</label></div>
                    <div class="editor-field"><input class="text-box single-line" id="ResponsableDelMovimiento" name="ResponsableDelMovimiento" type="text" value="" /> <span class="field-validation-valid" data-valmsg-for="ResponsableDelMovimiento" data-valmsg-replace="true"></span></div>

                </fieldset>

            </div>
            <div class="col-md-6">

                <fieldset>
                    <legend>Detalle</legend> 

                    <div class="form-group">
                        <div class="editor-label">
                            <label for="Descripcion">Descripcion</label>
                        </div>
                        <div class="editor-field">
                            <input onkeyup="this.value = this.value.toUpperCase();" class="text-box single-line" id="Descripcion" name="Descripcion" type="text" value="">
                            <span class="field-validation-valid" data-valmsg-for="Descripcion" data-valmsg-replace="true"></span>
                        </div>
                        <div class="editor-label">
                            <label for="Marca">Marca</label>
                        </div>
                        <div class="editor-field">
                            <input onkeyup="this.value = this.value.toUpperCase();" class="text-box single-line" id="Marca" name="Marca" type="text" value="">
                            <span class="field-validation-valid" data-valmsg-for="Marca" data-valmsg-replace="true"></span>
                        </div>
                        <div class="editor-label">
                            <label for="Modelo">Modelo</label>
                        </div>
                        <div class="editor-field">
                            <input onkeyup="this.value = this.value.toUpperCase();" class="text-box single-line" id="Modelo" name="Modelo" type="text" value="">
                            <span class="field-validation-valid" data-valmsg-for="Modelo" data-valmsg-replace="true"></span>
                        </div>
                        <div class="editor-label">
                            <label for="Serie">Serie</label>
                        </div>
                        <div class="editor-field">
                            <input onkeyup="this.value = this.value.toUpperCase();" class="text-box single-line" id="Serie" name="Serie" type="text" value="">
                            <span class="field-validation-valid" data-valmsg-for="Serie" data-valmsg-replace="true"></span>
                        </div>
                        <div class="editor-label">
                            <label for="Estado">Estado</label>
                        </div>
                        <div class="editor-field">
                            <select id="Estado">
                                <option value="OPERATIVO">OPERATIVO</option>
                                <option value="INOPERATIVO">INOPERATIVO</option>
                            </select>
                        </div>
                        <div class="editor-label">
                            <label for="UsuarioPC">UsuarioPC</label>
                        </div>
                        <div class="editor-field">
                            <input onkeyup="this.value = this.value.toUpperCase();" class="text-box single-line" id="UsuarioPC" name="UsuarioPC" type="text" value="">
                            <span class="field-validation-valid" data-valmsg-for="UsuarioPC" data-valmsg-replace="true"></span>
                        </div><div class="editor-label">
                            <label for="NombrePC">NombrePC</label>
                        </div>
                        <div class="editor-field">
                            <input onkeyup="this.value = this.value.toUpperCase();" class="text-box single-line" id="NombrePC" name="NombrePC" type="text" value="">
                            <span class="field-validation-valid" data-valmsg-for="NombrePC" data-valmsg-replace="true"></span>
                        </div>
                        <div class="editor-label">
                            <label for="Devuelto">Devuelto</label>
                        </div>
                        <div class="editor-field">
                             
                            <span class="field-validation-valid" data-valmsg-for="Devuelto" data-valmsg-replace="true"></span>
                            <select id="Devuelto" name="Devuelto">
                                <option value="true">SI</option>
                                <option value="false">NO</option>
                            </select>
                        </div>
                    </div>

                </fieldset>

                <input type="button" value="Anadir"
                       onclick="AnadirMovimiento(); return false;" class="btn btn-info" />

            </div>


        </div>

    </div>
    <br />
    <br />
    <br />
    <div class="container">
        <div class="row">

            <fieldset>
                <legend>Detalle de bienes</legend>
            </fieldset>
            <div id="divMovimientos">
                <table class="table">
                    <tbody id="tablaMovimiento">

                        <tr>
                            <th>Descripcion</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Serie</th>
                            <th>Estado</th>
                            <th>UsuarioPC</th>
                            <th>NombrePC</th>
                            <th>Devuelto</th>
                        </tr>

                    </tbody>
                </table>

            </div>
            <div class="form-group">
                <input type="submit" name="name" value="Registrar" class="btn btn-primary" />
            </div>

        </div>
    </div>

}



<script>

    var num = 0;

    function keyEvent(event) {

        var key = event.keyCode || even.which;

        console.log(key)
        if (key == 43) {
            console.log("key dentro funcion " + key);
            AnadirMovimiento();
        }

    }

    function AnadirMovimiento() {
        console.log("hola");

        let Descripcion = document.getElementById("Descripcion").value;
        let Marca = document.getElementById("Marca").value;
        let Modelo = document.getElementById("Modelo").value;
        let Serie = document.getElementById("Serie").value;
        let Estado = document.getElementById("Estado").value;
        let UsuarioPC = document.getElementById("UsuarioPC").value;
        let NombrePC = document.getElementById("NombrePC").value;
        //let Devuelto = parseInt(document.getElementById("Devuelto").value);
        let Devuelto = document.getElementById("Devuelto").value;

        if (Descripcion.length > 0 && Marca.length > 0) {

            //agregar a la tabla movimientos
            // identificar la tabla
            // crear tr
            // crear td
            // innterHTML de td
            // agregar tr a tabla

            let TablaMovimientos = document.getElementById("tablaMovimiento");
            let TR = document.createElement("tr");

            let TDDescripcion = document.createElement("td");
            let TDMarca = document.createElement("td");
            let TDModelo = document.createElement("td");
            let TDSerie = document.createElement("td");
            let TDEstado = document.createElement("td");
            let TDUsuarioPC = document.createElement("td");
            let TDNombrePC = document.createElement("td");
            let TDDevuelto = document.createElement("td");

            TDDescripcion.innerHTML = Descripcion;
            TDMarca.innerHTML = Marca;
            TDModelo.innerHTML = Modelo;
            TDSerie.innerHTML = Serie;
            TDEstado.innerHTML = Estado;
            TDUsuarioPC.innerHTML = UsuarioPC;
            TDNombrePC.innerHTML = NombrePC;
            TDDevuelto.innerHTML = Devuelto;

            TR.appendChild(TDDescripcion);
            TR.appendChild(TDMarca);
            TR.appendChild(TDModelo);
            TR.appendChild(TDSerie);
            TR.appendChild(TDEstado);
            TR.appendChild(TDUsuarioPC);
            TR.appendChild(TDNombrePC);
            TR.appendChild(TDDevuelto);

            TablaMovimientos.appendChild(TR);


            //agregar hiddens
            let DivMovimientos = document.getElementById("divMovimientos");
            let HiddenIndex = document.createElement("input");
            let HiddenDescripcion = document.createElement("input");
            let HiddenMarca = document.createElement("input");
            let HiddenModelo = document.createElement("input");
            let HiddenSerie = document.createElement("input");
            let HiddenEstado = document.createElement("input");
            let HiddenUsuarioPC = document.createElement("input");
            let HiddenNombrePC = document.createElement("input");
            let HiddenDevuelto = document.createElement("input");

            HiddenIndex.type = "hidden";
            HiddenIndex.name = "Equipos.Index";
            HiddenIndex.value = num;

            HiddenDescripcion.type = "hidden";
            HiddenDescripcion.name = "Equipos[" + num + "].Descripcion";
            HiddenDescripcion.value = Descripcion;

            HiddenMarca.type = "hidden";
            HiddenMarca.name = "Equipos[" + num + "].Marca";
            HiddenMarca.value = Marca;

            HiddenModelo.type = "hidden";
            HiddenModelo.name = "Equipos[" + num + "].Modelo";
            HiddenModelo.value = Modelo;

            HiddenSerie.type = "hidden";
            HiddenSerie.name = "Equipos[" + num + "].Serie";
            HiddenSerie.value = Serie;

            HiddenEstado.type = "hidden";
            HiddenEstado.name = "Equipos[" + num + "].Estado";
            HiddenEstado.value = Estado;

            HiddenUsuarioPC.type = "hidden";
            HiddenUsuarioPC.name = "Equipos[" + num + "].UsuarioPC";
            HiddenUsuarioPC.value = UsuarioPC;

            HiddenNombrePC.type = "hidden";
            HiddenNombrePC.name = "Equipos[" + num + "].NombrePc";
            HiddenNombrePC.value = NombrePC;

            HiddenDevuelto.type = "hidden";
            HiddenDevuelto.name = "Equipos[" + num + "].Devuelto";
            HiddenDevuelto.value = Devuelto;

            DivMovimientos.appendChild(HiddenIndex);
            DivMovimientos.appendChild(HiddenDescripcion);
            DivMovimientos.appendChild(HiddenMarca);
            DivMovimientos.appendChild(HiddenModelo);
            DivMovimientos.appendChild(HiddenSerie);
            DivMovimientos.appendChild(HiddenEstado);
            DivMovimientos.appendChild(HiddenUsuarioPC);
            DivMovimientos.appendChild(HiddenNombrePC);
            DivMovimientos.appendChild(HiddenDevuelto);

            document.getElementById("Descripcion").value = "";
            document.getElementById("Marca").value = "";
            //document.getElementById("Modelo").value = "";
            //document.getElementById("Serie").value = "";
            //document.getElementById("Estado").value = "";
            //document.getElementById("UsuarioPC").value = "";
            //document.getElementById("NombrePC").value = "";
            //document.getElementById("Devuelto").value = "";

            num++;
        }

    }


</script>






