
@{
    ViewBag.Title = "Vista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>


<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Clave_R</th>
            <th>Nombre</th>
            <th>Cargo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
         
    </tbody>
</table> 


@section scripts{   

    <script>
        //const RELATIVE_PATH = window.location.pathname;

        $(document).ready(function () {
            $("#table_id").DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "@Url.Content("~/Movimiento/Json")",
                    "type": "POST",
                    "datatype": "json"
                },
                "pageLength": 10,
                "filter": true,
                "responsivePriority": 1,
                "data": null,
                "columns": [
                    { "data": "Clave_R", "name": "Clave_R", "autowidth": true },
                    { "data": "Nombre", "name": "Nombre", "autowidth": true },
                    { "data": "Cargo", "name": "Cargo ", "autowidth": true },
                    {
                        "data": "Clave_R", "name": "Clave_R", "autowidth": true,
                        "render": function (data, type, row, meta) {
                            
                            data = '<a  href="/Responsable/Movimientos/' + data + '" class="btn btn-info"> Movimiento </a>';

                            return data;
                        }
                    } 
                ] 
            });
        })
    </script>

}